
.page{
    width: 100%;
    position: absolute;
    height: 100%;

}
.top-tags{
    bottom: auto;
    top: 35px;
}
.tags{
    color: #ffd700;
    opacity: 0.6;
    bottom: 0;
    position: absolute;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}
.bottom-tag-html{
    margin-left: -20px;
}